<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8YnBgk1UC8ORWna7-N_Q4Wbuugj5Qs_A</string>
	<key>GCM_SENDER_ID</key>
	<string>1038923364223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.canteenFinal</string>
	<key>PROJECT_ID</key>
	<string>my-canteen-2b9a7</string>
	<key>STORAGE_BUCKET</key>
	<string>my-canteen-2b9a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038923364223:ios:3cef95ba05cff9307fcc4a</string>
</dict>
</plist>